.frame-view {

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &--output {
        width: 320px;
        height: 240px;
        margin: 10px;
        border: $border-color .3px solid;
        @include paper;
    }

}